const config = {
    ynab: {
        key: '<YNAB API key>',
        budget: '<budget name or ID>',
        accounts: [
          'My Checking',
          'My Card',
        ],
        categories: {
          'Immediate Obligations': [
            'Groceries',
            'Mobile Phones'
          ],
          'True Expenses': [
            'Child Care',
            'Gas (Car)'
          ]
        }
    },
    output: {
      locale: 'en-US',
      synology: {
        enabled: true,
        webhook: '<webhook URL>'
      },
      webhook: {
        enabled: true,
        url: '<webhook URL>'
      },
      telegram: {
        enabled: true,
        bot_token: '<Ttelegram BOT Token>',
        destination_id: '<your Telegram user ID or a channel ID>',
      },    
      email: {
        enabled: true,
        host: "<your SMTP host>",
        port: 587,
        auth: {
          user: "<your username>",
          pass: "<your password>",
        },
        from: '<your email>',
        fromName: '<a friendly name>',
        to: ['<your receiver>'],
        cc: ['<optional, your cc receiver>'],
        bcc: ['<optional, your bcc receiver>'],
        subject: `<optional, a custom subject>`,
      },
      stdout: {
        enabled: true,
        format: '<json or text>',
      }
    }
}
module.exports = config;
