const config = {
    ynab: {
        key: '<YNAB API Key>',
        budget: '<Budget Name>',
        accounts: [
          'My Checking',
          'My Card',
          'My Savings 1',
          'My Savings 2',
        ],
        categories: {
          'Immediate Obligations': [
            'Groceries',
            'Mobile Phones'
          ],
          'True Expenses': [
            'Child Care',
            'Gas (Car)'
          ],
          'Just for Fun': [
            'Dining Out',
            'Movies'
          ]
        }
    },
    output: {
      locale: 'en-US',
      synology: {
        enabled: true,
        webhook: '<Webhook URL>'
      },
      telegram: {
        enabled: true,
        bot_token: '<Telegram BOT Token>',
        destination_id: '<Your Telegram user ID or a channel ID>',
      },    
      email: {
        enabled: true,
        host: "smtp-relay.host.com",
        port: 587,
        auth: {
          user: "<your-login>",
          pass: "<your-key>",
        },
        from: '<your-email>',
        fromName: '<a friendly name>',
        to: ['<your-receiver>'],
        subject: `Your subject`,
      },
      stdout: {
        enabled: true,
        format: '<json or text>',
      }
    }
}
module.exports = config;
